:root {
    --purple: #6c63ff;
    --darkerpurple: #363286;

    --textcolor: #ffffff;
    --red: #ff6a6a;

    --gray: #2c2c2c;
    --darkGray: #1b1b1b;
    --darkerGray: #1a1919;
    --lightgray: #4b4b4b;
}

body {
    color: var(--textcolor);
    -webkit-text-fill-color: inherit;
    background-image: radial-gradient(circle,var(--lightgray), var(--darkerGray));
    padding: 29px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    background-size: cover;
}
#root {
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0;
    background-color: hsla(0, 0.00%, 10.67%, 0);
    font-weight: 600;
    width: 100%;
}
.creator {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5%;
    color: inherit;
}
.main-wrapper {
    text-align: left;
    background-color: var(--gray);
    border-radius: 8px;
    flex-flow: column;
    flex: 0 auto;
    padding: 40px 40px;
    display: flex;
    position: static;
    box-shadow: -7px -5px 7px -4px rgba(0, 0, 0, .5);
    width: 100%;
}


.form-wrapper {
    padding-top: 0;
    position: static;
}
.form-wrapper > .top-part {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 15px;
}
.custom-select {
    position: relative;
    background-color: var(--purple);
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
}
.custom-select:hover{
    background-color: var(--darkerpurple);
}
.custom-select:hover > i {
    scale: 1.4;
    transition: scale 0.2s;
}
.custom-select-active > .custom-select-list{
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0%);
}
.custom-select-main {
    display: flex;
    gap: 0.4rem;
}
.custom-select-list {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-flow: column;
    background-color: var(--purple);
    width: 100%;
    top: calc(100% + 0.3rem);
    left: 0;
    border-radius: 5px;
    transform: translateY(-5%);
    transition: opacity 0.2s, transform 0.2s;
}
.custom-select-list > a {
    padding: 0.4rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: var(--textcolor);
    text-decoration: none;
    transition: all 0.2s;
}
.custom-select-list > a:last-child {
    border-radius: 0 0 5px 5px;
}
.custom-select-list > a:first-child {
    border-radius: 5px 5px 0 0;
}
.custom-select-list > a:hover {
    font-size: 0.9rem;
    background-color: var(--darkerpurple);
}
.custom-select-list > a > label {
    pointer-events: none;
}
.todo-form-description {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background-color: #252525;
    border: 2px solid rgba(26,26,26,.16);
    border-radius: 5px;
    line-height: 20px;
    color: var(--textcolor);
    padding: 7px 13px;
    width: 100%;
    transition: all 0.1s;
}
.todo-form-description > input {
    transition: all .1s;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    line-height: 20px;
    color: var(--textcolor);
    font-family: inherit;
    width: 100%;
}
.todo-form-description > i {
    color: var(--lightgray);
}
.todo-form-description::placeholder {
    color: #4b4b4b;
}
.todo-form-description > input:focus {
    outline: none;
    border-color: rgba(108, 99, 255, 0) rgba(108, 99, 255, 0) var(--purple);
    border-bottom-style: solid;
    border-radius: 5px;
}
.todo-form-description:hover {
    background-color: var(--darkerGray);
}
.form-wrapper > button {
    background: var(--purple);
	color: inherit;
	border: none;
	padding: 0.5rem 0.9rem;
	font: inherit;
	cursor: pointer;
    border-radius: 5px;
}
.form-wrapper > button:hover {
    padding: 0.5rem 1.1rem;
    background: var(--darkerpurple);
    transition: all 0.1s;
}

.line {
    margin: 15px 0px;
    height: 1px;
    border-radius: 100px;
    background-color: var(--darkGray);
    opacity: 0.3;
}
.empty-text {
    color: var(--lightgray);
}

.todo-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.todo-list > p {
    display: flex;
    gap: 1rem;
    padding: 0 0.3rem;
    color: var(--lightgray);
}
.todo-item {
    position: relative;
}
.todo-item::before {
    content: "";
    position: absolute;
    width: 103%;
    height: 150%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--darkGray);
    opacity: 0.5;
    border-radius: 5px;
    z-index: 2;
    opacity: 0;
    transition: all .1s;
}
.todo-item:hover::before {
    opacity: 1;
}
.todo-item > .item-info {
    flex-flow: row;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 100;
    padding: 1px 0;
    z-index:  3;
}
.todo-title {
    width: 100%;
    z-index:  3;
    transition: all 0.2s;
}
.item-info > input[type="checkbox"] {
    display: none;
}
.todo-completed {
    margin: 0;
    height: 21px;
    width: 23px;
    border: 1px solid var(--darkGray);
    border-radius: 3px;
    outline: none;
    background-color: var(--lightgray);
    cursor: pointer;
    z-index:  3;
    transition: background-color 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-completed > i {
    opacity: 0;
    font-size: 1.3rem;
    transition: opacity 0.1s;
}
.item-info > input[type="checkbox"]:checked + .todo-completed {
    background-color: var(--purple);
}
.item-info > input[type="checkbox"]:checked + .todo-completed > i {
    opacity: 1;
}
.striked {
    text-decoration: line-through;
    color: var(--lightgray);
}
.todo-delete {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    z-index:  3;
    transition: all 0.2s;
}
.todo-delete > i {
    font-size: large;
    color: var(--lightgray);
    transition: all 0.2s;
}
.todo-delete > i:hover {
    color: var(--red);
    rotate: 45deg;
}
.todo-delete:hover {
    rotate: -20deg;
    scale: 1.2;
}

@media (max-width: 750px) {
    #root {
        max-width: 475px;
    }
    .creator {
        font-size: 0.7rem;
    }
}

@media (max-width: 620px) {
    #root {
        max-width: 440px;
    }
}
@media (max-width: 550px) {
    #root {
        max-width: 380px;
    }
    .main-wrapper {
        font-size: 0.8rem;
        padding: 30px 30px;
    }
}
@media (max-width: 480px) {
    #root {
        max-width: 300px;
    }
    .main-wrapper {
        font-size: 0.75rem;
        padding: 25px 25px;
    }
    .form-wrapper > .top-part {
        gap: 0.7rem;
        margin-bottom: 10px;
    }
    .todo-form-description {
        padding: 0.4rem;
    }
    .todo-form-description > input {
        font-size: inherit;
    }
    .line {
        margin-bottom: 5px;
    }
}
@media (max-width: 400px) {
    body {
        margin: 0;
        padding: 0px 1.5rem;
        background-image: radial-gradient(circle,var(--gray), var(--darkerGray));
    }
    #root {
        width: 100%;
        margin: auto;
    }
    .creator {
        font-size: 0.7rem;
        color: var(--lightgray);
        align-self: flex-end;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .main-wrapper {
        background: none;
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .line {
        display: none;
    }
    .form-wrapper {
        margin-bottom: 20px;
    }
    .todo-list {
        width: 100%;
        margin-bottom: 0.8rem;
    }
    .todo-list > p {
        font-size: 1.2rem;
        color: var(--textcolor);
        margin-bottom: 1rem;
    }
    .todo-completed {
        height: 17px;
        width: 18px;
    }
    .todo-delete > i {
        font-size: medium;
    }
    .custom-select {
        width: 4%;
    }
    .custom-select-main {
        display: none;
    }
    .custom-select-list {
        width: 230%;
        left: -50%;
    }
    .form-wrapper > button {
        background-color: var(--lightgray);
        width: 100%;
        font-weight: 800;
    }
    .form-wrapper > button:hover {
        background-color: var(--purple);
    }
    
}
@media (max-width: 370px){
    .custom-select-list {
        left: -95%;
    }
}